# The Apollo University Event Hub - Environment Template
VITE_FIREBASE_API_KEY=AIzaSyBEG1IALlGX7Wh3sdDmwfWoaY6FEiL5hDU
VITE_FIREBASE_AUTH_DOMAIN=theapolloeventhub.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=theapolloeventhub
VITE_FIREBASE_STORAGE_BUCKET=theapolloeventhub.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1063531032324
VITE_FIREBASE_APP_ID=1:1063531032324:web:dd42c32f91ada03bc26a51
VITE_FIREBASE_MEASUREMENT_ID=G-NDZ51WHVWV
VITE_USE_FIREBASE_EMULATORS=false

# Microsoft Entra ID & Allowed Domains
VITE_MS_TENANT_ID=e4ac90d7-9035-4bc0-893a-fe0103850136
VITE_ALLOWED_EMAIL_DOMAINS=apollouniversity.edu.in,student.apollouniversity.edu.in,apollo.edu.in,gmail.com
